@import '.././styles/Base/Base.scss';


.favourits{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:50px;
    margin-bottom:50px;
  
  &__label{
    color:#746d6d;
    font-size:18px;
  }
 &__dropdown{
   margin-left:20px;
   width:400px;
   height:40px;
   border:1px solid rgb(228, 220, 220);
   border-radius:50px;
 }
 &__dropdown:focus{
     outline: none;
 }
 &__refresh{
    width:80px;
    height:30px;
    background-color:#f0c4a3;
    border-radius:20px;
    color: rgb(94, 91, 91);
    border: none;
    margin-top:5px;
    margin-left:15px;
    text-align: center;
    font-weight: bold ;
    align-self:flex-start;
 }
 &__refresh:focus{
     outline:none;
 }
}

.placeholder-text{
    text-align: center;
    padding-top:250px;
    font-size:35px;
    color:#a8a0a0;
}

.item-change{
  display: none;
}