@import '.././styles/Base/Base.scss';


.item{
    width: 250px;
    height: 500px;
    font-size:12px;
    margin-top:20px;
    &__img{
        width: 200px;
        height: 150px;
        padding-bottom:30px;
    }
    &__img:hover{
        transform: scale(1.2);
    }
    &__photo{
        width: 100%;
        height: 100%;
        object-fit: fill;
        background-size:contain;
        border-radius:20px;
    }
    &__box{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
        padding-left:10px;
        width: 200px;
        height: 180px;
    }

    &__title{
        color:rgb(177, 170, 170);
        font-weight:bold;
        
    }
    &__text{
        color: rgb(94, 91, 91);
        padding-left:5px;

    }
   &__button{
       background-color:#f0c4a3;
       border-radius:20px;
       border:none;
       color:rgb(94, 91, 91);
       outline: none;
       box-shadow: 0 5px #999;
       padding: 5px 15px;
       margin-left:8px;
       text-align: center;
       font-weight: bold ;
       box-shadow: #8a8181;
       width:70px;
       height:25px;
       box-shadow: 10px 10px 10px rgba(56, 55, 55, 0.5);
   }
   &__button:hover{
    background-color: rgb(94, 91, 91);
   }
   &__button:active {
    background-color:#f0c4a3;
    box-shadow: 0 5px rgb(94, 91, 91);
    transform: translateY(4px);
  }
}