@import '.././styles/Base/Base.scss';


.item{
    width: 200px;
    height: 500px;
    font-size:12px;
    display: flex;
    flex-direction: column;
    border:none;
    @include tablet(){
        margin-left:15px;
    }
    @include mobile(){
        margin-left:40px;
        height: 500px;
    }
    &__img{
        width: 200px;
        height: 150px;
        padding-bottom:20px; 
        
    }
    &__box-two{
        width:200px;
        margin-top:10px;
        margin-left:8px;
        padding:10px;
        margin-bottom:15px;
        border:1px solid rgb(241, 236, 236);;
        box-shadow: 5px 5px 5px rgba(163, 161, 161, 0.5);
        border-radius:10px;
        
    }
    &__photo{
        width: 100%;
        height: 100%;
        object-fit: fill;
        background-size:contain;
        border-radius:20px;
        box-shadow: 5px 5px 5px rgba(88, 87, 87, 0.5);
    }
    &__box{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
        padding-left:15px;
        margin-bottom:15px;
        width: 150px;
        height:150px;
        border-radius:10px;
       
    }

    &__title{
        color:rgb(177, 170, 170);
        font-weight:bold;
        
    }
    &__text{
        color: rgb(94, 91, 91);
        padding-left:5px;

    }
    &__allbutton{
      display: flex;
      align-items: center;
    }
    &__button-small{
       background-color:#f7ebe1;
       border-radius:30px;
       border:none;
       color:rgb(94, 91, 91);
       outline: none;
       box-shadow: 0 5px #999;
       margin-right:20px;
       text-align: center;
       font-weight: bold ;
       box-shadow: #8a8181;
       width:70px;
       height:20px;
    }
   &__button-delete{
       background-color:rgb(245, 240, 240);
       border-radius:20px;
       border:none;
       color:rgb(94, 91, 91);
       outline: none;
       box-shadow: 0 5px #999;
       padding: 5px 15px;
       margin-left:8px;
       text-align: center;
       font-weight: bold ;
       box-shadow: #8a8181;
       width:70px;
       height:25px;
       box-shadow: 10px 10px 10px rgba(56, 55, 55, 0.5);
   }
   &__button-delete:hover{
      background-color: rgb(94, 91, 91);
   }
   &__button-delete:active {
    background-color:#f0c4a3;
    box-shadow: 0 5px rgb(94, 91, 91);
    transform: translateY(4px);
  }
}
