
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 20px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background:  rgb(236, 182, 156);
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #c0bebe;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background:white;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: rgb(233, 211, 200);
    padding: 1.9em 1.4em 0;
    font-size: 1.2em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill:#f0c4a3;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.5em;
    width: 100%;
    text-align: left;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
    color: rgb(104, 99, 99);
    margin-bottom: 30px;
  }
  
  /* Styling of overlay */
 
  .menu-item{
    color:  #686464;
    font-size:20px;
    text-decoration: none;
    margin-bottom: 40px;
   
  }
  .menu-item:hover{
    outline: none;
  }
  .menu-item:focus{
    outline: none;
  }
  
  .menu-item--small{
    font-size:25px;
    text-decoration: none;
    color: #636060;
    
  }
  .menu-itemchange{
    font-size:30px;
    width: 100%;
    padding-bottom:20px;
    border-bottom: 1px solid #a8a4a4;;
  }

 .bm-overlay {
    background:rgb(148, 145, 145);
  }



