@import '.././styles/Base/Base.scss';

.header{
    width: 100%;
    height: 80px;
    position: relative;
    border-bottom:0.5px solid #ebe0e0;
    background-color:rgb(229, 226, 226);

    &__logo{
        width: 80px;
        height: 90%;
        position: absolute;
        top:5px;
        left:150px;
    }
    &__button-user{
        width: 50px;
        height: 40px;
        border-radius: 100px;
        background-color:#f0c4a3;
        position: absolute;
        right: 30px;
        top:20px;
        border:none;
        color: rgb(94, 91, 91);
        font-weight: bold;
        box-shadow: 10px 10px 10px rgba(56, 55, 55, 0.5);
    }
    &__button-logout{
        width: 60px;
        height: 40px;
        border-radius: 100px;
        background-color:#f0c4a3;
        position: absolute;
        right: 100px;
        top:20px;
        border:none;
        color: rgb(94, 91, 91);
        font-weight: bold;
        box-shadow: 10px 10px 10px rgba(56, 55, 55, 0.5);
    }
    &__button-logout:focus{
        outline: none;
    }
    &__linkbox{
        display: flex;
        justify-content:flex-end;
        align-items: center;
        height: 100%;
        top:20px;
        width:85%;
    }
   &__link{
       text-decoration: none;
       color:rgb(94, 91, 91);
     
     
    }
    &__button-link{
        text-decoration: none;
        color:rgb(94, 91, 91);
    }
}