@import '.././styles/Base/Base.scss';


.image-login{
    // background:url('../../assets/dylan-nolte-SH_IjrKwG8c-unsplash.jpg');
    background-color:#eeedec;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.login{
   align-items: center;
   justify-content: center;
   display: flex;
   flex-direction: column;
   width:400px;
   height: 500px;
   border-radius:30px;
   box-shadow:10px 10px 10px rgba(56, 55, 55, 0.5);
//    border: 0.5px solid rgb(226, 217, 217);
   background-color:#f7e4d5;

&__input-user{
   
    padding-left:20px;
    border-radius:50px;
    border:1px solid rgb(243, 240, 240);
    width: 200px;
    margin-right:10px;
    margin-left:10px;
    height:40px;
}
&__input-user:focus{
    outline:none;
 }

&__button-user{
    width:100px;
    height:40px;
    background-color:#f0c4a3;
    border-radius:20px;
    color: rgb(94, 91, 91);
    border: none;
    margin-top:20px;
    // margin-left:60px;
    font-weight: bold;
    font-size:15px;
   }
&__button-user:focus{
   outline:none;

}
&__button-user:hover{
    outline:none;
 
 }
&__box{
    display: flex;
    flex-direction: column;
    margin-top:20px;
}
&__label{
    align-self: center;
    margin-bottom:10px;
    color:rgb(134, 128, 128);

  }
}