@import '.././styles/Base/Base.scss';


.section-right{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top:32px;
   flex-wrap: wrap;

}

.reminder{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.reminder-modal{
    position: absolute;
    background-color: white;
    padding: 10px 30px;
    top: 50%;
    bottom: 0px;
    left: 50%;
    right: 0px;
    width: 300px;
    height: 300px;
    transform: translate(-50%, -50%);
    outline: none;
    border-radius:20px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    box-shadow: 10px 10px 10px rgba(56, 55, 55, 0.5);
}
.reminder-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.reminder-allbuttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.reminder-button{
    width:80px;
    height:30px;
    border-radius:10px;
    outline: none;
    background-color:#f0c4a3;
    color: rgb(94, 91, 91);
    margin-right: 20px;
    text-align: center;
    font-weight: bold ;
    
}
.reminder-text{
    font-size:15px;
    margin-right:5px;
    color:rgb(94, 91, 91);
   
}

.reminder-one{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:20px;
}

.modal{
    position: absolute;
    
    background-color: white;
    padding: 10px 30px;
    top: 50%;
    bottom: 0px;
    left: 50%;
    right: 0px;
    width: 280px;
    height: 100px;
    transform: translate(-50%, -50%);
    outline: none;
    border-radius:20px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    box-shadow: 10px 10px 10px rgba(56, 55, 55, 0.5);
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-button{
    width:50px;
    height:30px;
    align-self: center;
    border-radius:10px;
    outline: none;
    background-color:#f0c4a3;
    color: rgb(94, 91, 91);
}
.modal-text{
    align-self: center;
    font-size:15px;
    margin-bottom:10px;
    color:rgb(94, 91, 91);
}
