@import '.././styles/Base/Base.scss';

 
 .search-box{
    display: flex;
    justify-content: center;
    margin-top:50px;
   @include mobile(){
       flex-direction: column;
       align-items: center;
   }
  }
  
  .search{
      @include mobile(){
          display: flex;
          flex-direction: column;
      }
      @include tablet(){
        display: flex;
      
      }
    &__mobile{
        @include mobile(){
            margin-top:20px;
            display: flex;
        }
    }
       
    &__input{
        width: 400px;
        margin-right:10px;
        padding-left:25px;
        border-radius:50px;
        border:1px solid rgb(228, 220, 220);
        height:40px;
        @include tablet(){
            width:180px;
        }
        @include desktop(){
            width:400px;
        }
        @include mobile(){
            width:200px;
            margin-top:20px;
          
        } 
    }
    &__input:hover{
        outline: none;
    }
    &__input:focus{
        outline: none;
    }
    &__submit{
        width:80px;
        height:30px;
        background-color:#f0c4a3;
        border-radius:20px;
        color: rgb(92, 87, 87);
        border: none;
        margin-right:15px;
        margin-left:15px;
        text-align: center;
        font-weight: bold ;
        @include tablet(){
            width:70px;
        }
        @include desktop(){
            width:80px;
            margin-top:5px;
        }
        @include mobile(){
            margin-left:8px;

        }
      
    }
    &__submit:hover{
      outline:none;
    }
    &__submit:focus{
        outline:none;
      }
    &__img-box{
        position: relative;
    }
    &__icon{
       position: absolute;
       left:5px;
       top:15px;
    @include mobile{
        top:30px;
    }
    }
    }

    .favourits-search{
        margin-left:15px;
        margin-right:20px;
        width:200px;
        height:40px;
        border:1px solid rgb(228, 220, 220);
        box-shadow: #8a8181;
        border-radius:50px;
        background-color: none;
        @include tablet(){
            width: 150px;;
        }
        @include desktop(){
            width:200px;
        }
        @include mobile(){
            margin-left:8px;
        }
    }
    .favourits-search:focus{
        outline: none;
    }
    .section-right{
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
    }
    .modal{
        position: absolute;
        overflow: auto;
        background-color: white;
        padding: 10px 30px;
        top: 50%;
        bottom: 0px;
        left: 50%;
        right: 0px;
        width: 400px;
        height: 100px;
        transform: translate(-50%, -50%);
        outline: none;
        border-radius:20px;
        display: flex;
        flex-direction: column;
        justify-content:center;
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .modal-button{
        width:40px;
        height:25px;
        align-self: center;
       
        border-radius:10px;
        outline: none;
        background-color: #f0c4a3;
        color: rgb(94, 91, 91);
    }
    .modal-text{
        align-self: center;
        margin-bottom:10px;
        color:rgb(94, 91, 91);
    }